.container{
    box-sizing: border-box;
}
.py-6{
    padding-bottom: 64px!important;
    padding-top: 64px!important;
}


.LirtenLogo{
    background: url('./logoWhite.png'),blue;
    background-position: center 10%;
    background-size: cover;
    color: hsla(0,0%,100%,.6);
}

