.mainpre{
    background:white;
    height: auto;
    background: url('../LogIn/meeting1.jpg'),white;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #f9f9f9;    border: 1px solid yellow;  */
    background-position: center;



  /* border: 1px solid red; */
  float: left;
  width: 100%;

}
.Headerpre{
    position: relative!important;
    box-sizing: border-box;
     /* border: 1px solid blue;   */
     height: 20%;

}
.middlepre{
     /* border: 5px solid red;  */
     height: 80%;



}
.fade {
    animation: fade-in-keyframes 1s;
  }
  @keyframes fade-in-keyframes {
    from {opacity: 0}
    to {opacity: 1}
  }
.r1{
float: left;
width: 15%;
height: 100%;

border-color:5px solid aqua;


}

.register{
   float: left;
   width: 70%;
   position: relative;
   border-color:5px solid black;
   height: 100%;
   margin-top: 200px;



}
.r2{
    float: left;
    width: 15%;
    height: 100%;


}
.paragraph{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25
}
